extends base.pug

block content 
    h4 Change Title of video
    // method: form과 backend 사이의 정보 전송에 관한 방식
    form(method="POST")
        input(name="title", palceholder="Video Title", value=video.title, required)
        input(value="Save", type="submit")